name: Main

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  echo:
    name: Run script
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: git log -n 1

      - run: node ./run.js
        env:
          NON_CRITICAL: ${{ secrets.NON_CRITICAL }}

#    steps:
#      - uses: actions/checkout@v2
#      - name: Setup tmate session
#        uses: mxschmitt/action-tmate@v3
